:root {
  --primary-color: #006598;
  --primary-dark: #005b98;
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
}

/* My */

html,
body,
.max-height {
  height: 100%;
}

.flex-gap {
  gap: 1rem;
}

.sol-code-area {
  height: 30rem;
  width: 100%;
  border: 1px solid #999;
}

/* Loader */

#loader {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid var(--primary-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.lintData {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 7px #888888;
}

#lintData {
  display: none;
  text-align: center;
}
